<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <h1>Tasks</h1>

    {% for lista in listas %}
    <div>
        <h1>
            {{lista.title}}
        </h1>
        <p>
            {{lista.descripcion}}
        </p>
        <p>
            Project:{{lista.usuario.name}}
            
        </p>
        <button>Delete</button>
        <button>Done</button>
    </div>
    {% endfor%}
</body>
</html>